<%= form_with(model: [@test, @question]) do |form| %>
  <%= render 'shared/errors', resource: @question %>
  <p>
    <%= form.label :body %>
    <%= form.text_field :body %>
  </p><br>
  <%= form.submit %>
<% end %>
