<table>
  <tr>
    <td><%= link_to test.title, test_path(test) %> (<%= test.questions.count %>)</td>
    <td><%= link_to 'Delete', test_path(test.id), method: :delete %></td>
    <td><%= link_to 'Edit', edit_test_path(test.id) %></td>
    <td><%= button_to 'Start', start_test_path(test) %></td>
  </tr>
</table>
